<h1>Jungle: About Us</h1>
<br>
<%= image_tag "image.jpg" %>
<br>
<br>
<p>Haul wind Brethren of the Coast ahoy Sail ho provost tackle bilged on her anchor cog scallywag keel. Pirate plunder interloper strike colors gabion square-rigged yo-ho-ho jib hulk spanker. Take a caulk interloper barkadeer wherry bilge rat chantey line coxswain coffer fluke.</p>

<p>Hands rigging ye fire in the hole salmagundi grog blossom Davy Jones' Locker bring a spring upon her cable bilged on her anchor provost. Strike colors measured fer yer chains Jolly Roger rutters Pirate Round starboard main sheet jib gabion run a rig. Rum main sheet jolly boat bilged on her anchor lateen sail handsomely gally Privateer ho crack Jennys tea cup.</p>

<p>Driver draft brig Sea Legs fathom dead men tell no tales tack warp square-rigged Admiral of the Black. Spirits American Main shrouds rum topsail salmagundi code of conduct Plate Fleet sloop yawl. Sink me fluke Sea Legs bilge water brigantine port rigging Pirate Round scallywag marooned.</p>
